* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgb(255, 255, 255, 0.1);
  --surface-color-hover: rgb(255, 255, 255, 0.02);
  --social-links-hover: rgb(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgb(0, 0, 0, 0.1);
  --surface-color-hover: rgb(0, 0, 0, 0.02);
  --social-links-hover: rgb(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin-top: 54px;
  padding: 0 24px;
}

/* Photo and username */
#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* Button - Light or Dark */
#switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
}

#switch button {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  height: 32px;
  width: 32px;
  background: #ffffff;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Buttons Links */
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.4s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Icons Social */
#social-links {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 24px;
  padding: 24px 0;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.4s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--social-links-hover);
}

/* Footer */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
